/* variables */
:root {
    --light: rgb(226, 216, 226);
    --dark: rgb(29, 32, 32);
    --header-background: rgb(76, 11, 55);
    --body-background: rgb(255, 196, 253);
    --pad: 1.5em;
}

/* full page */
* {
    box-sizing: border-box;
}

/* body element
set font family, size, color, backroung, and line height */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--dark);
    background-color: var(--light);
    
    /* height: 100vh;
    width: 100vw; */
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    color: var(--light);
    background-color: var(--header-background);
    padding: 3em 2em 2em 2em;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

ul {
    font-size: 2em;
}

p {
    font-size: 2em;
}

header h1 {
    float: left;
}

/* nav bar */
.nav ul {
    text-align: right;
    font-size: 1.75em;
}

.nav a {
    text-decoration: none;
    color: var(--light);
}

.nav li {
    display: inline-block;
    padding-left: 1.5em;
/* add padding above with media query */
}

/* main content */

/* card styling */
.card {
    display: inline-block;
    background-color: var(--body-background);
    width: 90vw;
    padding: 3em;
    margin: 5em;
}

.headshot {
    height: 25em;
    width: 20em;
    object-fit: cover; 
    object-position: 65% 35%;   
    float: right;
    align-items: center;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    padding-right: 3em;
}

.card h2 {
    display: block;
    padding-bottom: var(--pad);
}

.card p {
    line-height: 1.5;
    background-color: var(--body-background);
}

.card h3 {
    padding-bottom: var(--pad);
}

.card a {
    text-decoration: none;
    color: var(--dark);
}

.my-work-imgs {
    height: 25%;
    width: 100%;   
}




/* media query to left-align and wrap header nav as view width decreases */

/* media query to shrink text below certain view width */