/* variables */
:root {
    --light: rgb(213, 199, 209);
    --medium: rgb(104, 106, 106);
    --dark: rgb(29, 32, 32);
    --header: rgb(76, 11, 55);
    --cardcolor: rgb(217, 176, 205);
}

/* add border-box sizing */
* {
    box-sizing: border-box;
}

/* body styling */
body {
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--dark);
    background-color: var(--light);
    /* align-items: center; */
    /* text-align: center; */
}

/* header and footer*/
header, footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    color: var(--light);
    background-color: var(--header);
    padding: 2.5rem;
    box-shadow: 0 0 15px var(--header);
}

/* headings */
h1 {
    font-size: 4rem;
    float: left;
    padding-right: 1.5rem;
}

h2 {
    height: 50%;
    font-size: 3rem;
    padding-bottom: .5rem;
    border-bottom: 6px double var(--dark);
    box-shadow: 0 10px 5px -6px var(--dark);
    margin-bottom: 2rem;
}

h3 {
    font-size: 2rem;
    text-align: left;
    writing-mode: vertical-rl;
    color: var(--light);
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--dark);
    padding:15px 10px 10px 10px;
    height: 100%;
    box-shadow: 10px 0px 15px -2px var(--dark);
}

h4 {
    font-size: 1.5rem;
}

/* list styling */
ul {
    text-align: right;
    padding-top: 1.5rem;
}

li {
    display: inline;
    font-size: 1.5rem;
    padding-left: 1.5rem;
}

li:first-of-type {
    padding-left: 0;
}

/* remove hyperlink underline, set text color */
a {
    text-decoration: none;
    color: var(--light);
}

/* p styling */
p {
    font-size: 1.75rem;
    line-height: 1.5;
    padding-right: 3rem;
}

img {
    background-color: var(--dark);
    box-shadow: 0 0 10px var(--dark);
}

/* footer */
footer {
    padding: 1.5rem;
}

footer li {
    font-size: 1rem;
}

/* card styling */
.card {
    background-color: var(--cardcolor);
    width: 90vw;
    padding: 3rem;
    box-shadow: 0 0 20px var(--dark);
    margin: 5vw;
}

.card div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap div {
    position: relative;
    margin: 1rem;
}

.my-work-imgs {
    color: var(--light);
    width: 33vw;
    height: 20vw;
    object-fit: cover;
}

/* specific img styling */
#headshot {
    height: 20em;
    float: right;
}

#refactor-img {
    width: 75vw;
    height: 40vw;
    object-position: 30% 70%;
}

#prework-img {
    object-position: 100% 0;
}

#alsia-img {
    object-position: 95% 5%;
}

#cloudbow-img {
    object-position: 50% 50%;
}

#teaching-img {
    object-position: 90% 10%;
}

/* Contact-Me */
.contact-me {
    background-color: var(--cardcolor);
    width: 90vw;
    padding: 3em;
    margin: 5vw;
}

.contact-me ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    font-size: 2em;
    width: 100%;
}

.contact-me li {
    font-size: 1.5rem;
    padding: .5em;
}

.contact-me a {
    color: var(--dark);
}

/* footer */

.footer li:first-of-type {
    padding-left: 0;
}



/* media query to left-align and wrap header nav as view width decreases */
/* @media screen and (max-width: 820px) {
    .content-flex div {
        width: 100%;
    }
} */
/* media query to shrink text below certain view width */


/* TO DO */
/* add media queries */
/* refactor code */
/* add README text */
/* add hero */